.codex-editor {
	/*-moz-osx-font-smoothing: auto; -webkit-font-smoothing: auto;*/

	/* font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif; */

	/* font-family: "Inter", sans-serif; */
	/* letter-spacing: -0.01em; */
}
.codex-editor .font-mono {
	font-family: "iA Writer Mono var", monospace;
	letter-spacing: 0; /* Needed because of .codex-editor */
}
.codex-editor * {
	caret-color: #000;
}

/* .codex-editor.feature-read-only .syntax { */
/* 	display: none; */
/* } */

/* .codex-editor:not(.feature-read-only) [data-codex-root] { */
/* 	transition-duration: 500ms; */
/* } */
/* .codex-editor:not(.feature-read-only) [data-codex-root]:hover { */
/* 	background-color: #448aff1f; */
/* 	transition-duration: 500ms; */
/* } */

.codex-editor .text-lg .font-medium,
.codex-editor .text-lg .font-semibold,
.codex-editor .text-lg .font-bold {
	font-weight: 700;
}
.codex-editor .text-xl .font-medium,
.codex-editor .text-xl .font-semibold,
.codex-editor .text-xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-2xl .font-medium,
.codex-editor .text-2xl .font-semibold,
.codex-editor .text-2xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-3xl .font-medium,
.codex-editor .text-3xl .font-semibold,
.codex-editor .text-3xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-4xl .font-medium,
.codex-editor .text-4xl .font-semibold,
.codex-editor .text-4xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-5xl .font-medium,
.codex-editor .text-5xl .font-semibold,
.codex-editor .text-5xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-6xl .font-medium,
.codex-editor .text-6xl .font-semibold,
.codex-editor .text-6xl .font-bold {
	font-weight: 700;
}

.codex-editor .emoji {
	vertical-align: -10%;
	font-size: 120%;
	line-height: 1;
}
.codex-editor .emojis.emojis__1,
.codex-editor .emojis.emojis__2,
.codex-editor .emojis.emojis__3 {
	font-size: 208.3333%; /* 208.3333 * 120% === 250% */
}

/*
 * <ul>
 */
.codex-editor ul > li:not(.todo):before  {
	margin-left: calc(-1ch - 1.25em);
	position: absolute;
	content: "• ";
	color: var(--md-blue-a400);
}

/*
 * <ol>
 */
.codex-editor ol > li:not(.todo):first-of-type {
	counter-reset: count;
}
.codex-editor ol > li:not(.todo):before  {
	margin-left: calc(-1ch - 1.25em);
	position: absolute;
	counter-increment: count;
	content: counter(count) ". ";
	font-feature-settings: "tnum";
	color: var(--md-blue-a400);
}

/*
 * <Todo>
 */
.codex-editor ul > li .todo__checkbox {
	margin-left: calc(-1ch - 1.25em);
}
.codex-editor ul > li .todo__checkbox:focus,
.codex-editor ol > li .todo__checkbox:focus {
  border-color: #a4cafe;
  outline: none;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
}
/* TODO: Remove :focus? */
.codex-editor ul > li .todo__checkbox--checked:focus,
.codex-editor ol > li .todo__checkbox--checked:focus {
  border-color: transparent;
}
/* .codex-editor ul > li .todo--checked, */
/* .codex-editor ol > li .todo--checked { */
/*   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4a1 1 0 00-1.414-1.414L7 8.586 5.707 7.293z'/%3E%3C/svg%3E"); */
/*   border-color: transparent; */
/*   background-color: currentColor; */
/*   background-size: 100% 100%; */
/*   background-position: 50%; */
/*   background-repeat: no-repeat; */
/* } */
