.codex-editor {
	-moz-osx-font-smoothing: auto; -webkit-font-smoothing: auto;

	font-family: -apple-system, BlinkMacSystemFont, sans-serif;

	-moz-tab-size: 4;
	tab-size: 4;

	font-feature-settings: "tnum";
}
.codex-editor .font-mono {
	font-family: "iA Writer Mono var", monospace;

	-moz-tab-size: 2;
	tab-size: 2;
}
.codex-editor * {
	caret-color: #000;
}

/* TODO: data-codex-element="..." and data-codex-inline-element="..."? */
.codex-editor .text-lg .font-medium,
.codex-editor .text-lg .font-semibold,
.codex-editor .text-lg .font-bold {
	font-weight: 700;
}
.codex-editor .text-xl .font-medium,
.codex-editor .text-xl .font-semibold,
.codex-editor .text-xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-2xl .font-medium,
.codex-editor .text-2xl .font-semibold,
.codex-editor .text-2xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-3xl .font-medium,
.codex-editor .text-3xl .font-semibold,
.codex-editor .text-3xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-4xl .font-medium,
.codex-editor .text-4xl .font-semibold,
.codex-editor .text-4xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-5xl .font-medium,
.codex-editor .text-5xl .font-semibold,
.codex-editor .text-5xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-6xl .font-medium,
.codex-editor .text-6xl .font-semibold,
.codex-editor .text-6xl .font-bold {
	font-weight: 700;
}

.codex-editor [data-codex-emoji] {
	vertical-align: -10%;
	font-size: 120%;
	line-height: 1;
}
.codex-editor [data-codex-emojis="1"],
.codex-editor [data-codex-emojis="2"],
.codex-editor [data-codex-emojis="3"] {
	font-size: 208.3333%; /* 208.3333 * 120% === 250% */
}

/* Unordered */
.codex-editor [data-codex-ordered="false"]:before  {
	margin-left: -1.5em;
	position: absolute;
	content: "• ";
	color: var(--md-blue-a400);
}

/* Ordered */
.codex-editor [data-codex-ordered="true"]:first-of-type {
	counter-reset: count;
}
.codex-editor [data-codex-ordered="true"]:before  {
	margin-left: -1.5em;
	position: absolute;
	counter-increment: count;
	content: counter(count) ". ";
	font-feature-settings: "tnum";
	color: var(--md-blue-a400);
}

/* Checked */
.codex-editor [data-codex-checked] [data-codex-checkbox] {
	margin-left: -1.75em;
}

/* https://tailwindcss-custom-forms.netlify.com */
/* https://tailwindui.com/components/application-ui/forms/sign-in-forms */
.codex-editor [data-codex-checked] [data-codex-checkbox]:focus {
  border-color: #a4cafe;
  box-shadow: 0 0 0 0.1875em rgba(164, 202, 254, 0.45);
}
.codex-editor [data-codex-checked] [data-codex-checkbox="true"]:focus {
  border-color: transparent;
}
