.codex-editor {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;

	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 1em;
	-moz-tab-size: 4;
	tab-size: 4;

	/* font-feature-settings: "tnum"; */
}
.codex-editor pre,
.codex-editor code {
	font-family: "iA Writer Mono var", monospace;
	font-size: 0.875em;
	-moz-tab-size: 2;
	tab-size: 2;
}
.codex-editor * {
	caret-color: #000;
}

.codex-editor .markdown {
	color: var(--md-blue-a400);
}
