.codex-editor h1,
.codex-editor h2,
.codex-editor h3,
.codex-editor h4,
.codex-editor h5,
.codex-editor h6 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-weight: 600;
	line-height: 1.25;
}
.codex-editor h1 {
	font-size: 1.875em;
}
.codex-editor h2 {
	font-size: 1.5em;
}
.codex-editor h3 {
	font-size: 1.25em;
}
.codex-editor h4 {
	font-size: 1.25em;
}
.codex-editor h5 {
	font-size: 1.25em;
}
.codex-editor h6 {
	font-size: 1.25em;
}

/* FIXME */
.codex-editor p ~ [aria-label][role="img"] {
	font-size: 208.3333%;
	/* 208.3333 * 120% === 250% */
}

.codex-editor blockquote {
	padding-left: 1.5em;
	color: var(--text-gray-600);
	box-shadow: inset 0.25em 0 var(--gray-300);
}
.codex-editor blockquote .markdown {
	margin-right: 0.5em;
}

.codex-editor pre {
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-radius: 0.25em;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
.codex-editor pre > code {
	font-size: 0.875em;
	line-height: 1.375;
}

.codex-editor ul li {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
.codex-editor ul li:before {
	margin-left: -1.5em;
	position: absolute;
	content: "• ";
	color: var(--md-blue-a400);
}

.codex-editor ol li {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
.codex-editor ol li:first-of-type {
	counter-reset: count;
}
.codex-editor ol li:before {
	margin-left: -1.5em;
	position: absolute;
	counter-increment: count;
	content: counter(count) ". ";
	font-feature-settings: "tnum";
	color: var(--md-blue-a400);
}

/* FIXME? */
.codex-editor figure > img,
.codex-editor figure > a > img {
	margin-left: auto;
	margin-right: auto;
}
.codex-editor figure > figcaption {
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 0.875em;
	text-align: center;
	color: var(--text-gray-600);
}
