.codex-editor ul,
.codex-editor ol {
	margin-left: 1.5em;
}
.codex-editor ul li,
.codex-editor ol li {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.codex-editor ul li:before {
	margin-left: -1.5em;
	position: absolute;
	content: "• ";
	color: var(--md-blue-a400);
}

.codex-editor ol li:first-of-type {
	counter-reset: count;
}
.codex-editor ol li:before {
	margin-left: -1.5em;
	position: absolute;
	counter-increment: count;
	content: counter(count) ". ";
	font-feature-settings: "tnum";
	color: var(--md-blue-a400);
}

.codex-editor ul li input[type="checkbox"],
.codex-editor ol li input[type="checkbox"] {
	margin-left: -1.75em;
}
