.codex-editor [aria-label][role="img"] {
	vertical-align: -10%;
	font-size: 120%;
	line-height: 1;
}
/* https://stackoverflow.com/a/12198561 */
.codex-editor > p > [aria-label][role="img"]:first-child:nth-last-child(1),
.codex-editor > p > [aria-label][role="img"]:first-child:nth-last-child(2),
.codex-editor > p > [aria-label][role="img"]:first-child:nth-last-child(2) ~ [aria-label][role="img"],
.codex-editor > p > [aria-label][role="img"]:first-child:nth-last-child(3),
.codex-editor > p > [aria-label][role="img"]:first-child:nth-last-child(3) ~ [aria-label][role="img"] {
	font-size: 2em;
}

.codex-editor em {
	font-style: italic;
}

.codex-editor strong {
	font-weight: 600;
}
.codex-editor h1 strong,
.codex-editor h2 strong,
.codex-editor h3 strong,
.codex-editor h4 strong,
.codex-editor h5 strong,
.codex-editor h6 strong {
	font-weight: 700;
}

.codex-editor code {
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 0.875em;
	color: var(--md-blue-a400);
	border-width: 1px;
	border-radius: 0.25em;
}

.codex-editor a {
	text-decoration: underline;
	color: var(--md-blue-a400);
}

.codex-editor strike {
	--md-blue-a400: currentColor;
	color: var(--gray-500);
	text-decoration: line-through;
}
