.codex-editor {
	/*-moz-osx-font-smoothing: auto; -webkit-font-smoothing: auto;*/

	/* font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif; */

	/* font-family: "Inter", sans-serif; */
	/* letter-spacing: -0.01em; */
}
.codex-editor .font-mono {
	font-family: "iA Writer Mono var", monospace;
	letter-spacing: 0; /* Needed because of .codex-editor */
}
.codex-editor * {
	caret-color: #000;
}

/* .codex-editor:not(.feature-read-only) [data-codex-root] { */
/* 	transition-duration: 500ms; */
/* } */
/* .codex-editor:not(.feature-read-only) [data-codex-root]:hover { */
/* 	background-color: #448aff1f; */
/* 	transition-duration: 500ms; */
/* } */

.codex-editor .text-lg .font-medium,
.codex-editor .text-lg .font-semibold,
.codex-editor .text-lg .font-bold {
	font-weight: 700;
}
.codex-editor .text-xl .font-medium,
.codex-editor .text-xl .font-semibold,
.codex-editor .text-xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-2xl .font-medium,
.codex-editor .text-2xl .font-semibold,
.codex-editor .text-2xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-3xl .font-medium,
.codex-editor .text-3xl .font-semibold,
.codex-editor .text-3xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-4xl .font-medium,
.codex-editor .text-4xl .font-semibold,
.codex-editor .text-4xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-5xl .font-medium,
.codex-editor .text-5xl .font-semibold,
.codex-editor .text-5xl .font-bold {
	font-weight: 700;
}
.codex-editor .text-6xl .font-medium,
.codex-editor .text-6xl .font-semibold,
.codex-editor .text-6xl .font-bold {
	font-weight: 700;
}

.codex-editor .emoji {
	vertical-align: -10%;
	font-size: 120%;
	line-height: 1;
}
.codex-editor .emojis.emojis-1,
.codex-editor .emojis.emojis-2,
.codex-editor .emojis.emojis-3 {
	font-size: 208.3333%; /* 208.3333 * 120% === 250% */
}

/* .codex-editor:not(.feature-read-only) .markdown:not( .font-mono) { */
/* 	padding: 0.015625em 0; */
/* 	transition-duration: 200ms; */
/* } */
/* .codex-editor:not(.feature-read-only) .markdown:not( .font-mono):hover { */
/* 	background-color: #448aff1f; */
/* 	transition-duration: 200ms; */
/* } */

/* .codex-editor.feature-read-only ul > li:not(.checked):before { */
/* 	margin-right: 0.5em; */
/* 	flex-shrink: 0; */
/* 	display: inline-flex; */
/* 	width: calc(11.55 / 16 * 1em); */
/* 	content: "•"; */
/* 	color: var(--md-blue-a400); */
/* } */
/*  */
/* .codex-editor.feature-read-only ul > li:first-of-type, */
/* .codex-editor.feature-read-only ol > li:first-of-type { */
/* 	counter-reset: count; */
/* } */
/* .codex-editor.feature-read-only ol > li:before { */
/* 	margin-right: 0.5em; */
/* 	flex-shrink: 0; */
/* 	display: inline-flex; */
/* 	counter-increment: count; */
/* 	content: counter(count) ". "; */
/* 	font-feature-settings: "tnum"; */
/* 	color: var(--md-blue-a400); */
/* } */
