.codex-editor {
	font-family: "Inter var", sans-serif;
	letter-spacing: -0.01em;
	line-height: 1.5;
}
.codex-editor .font-mono {
	font-family: "iA Writer Mono var", monospace;
	letter-spacing: 0;
	line-height: 1.375;
}

.codex-editor:not(.feature-read-only) * {
	caret-color: #000;
}
.codex-editor:not(.feature-read-only) ::selection {
	background-color: #448aff3f;
}

/* TODO: Is there a better way to do this? */
.codex-editor .text-lg .font-bold,
.codex-editor .text-lg .font-semibold,
.codex-editor .text-lg .font-medium {
	font-weight: 650;
}
.codex-editor .text-xl .font-bold,
.codex-editor .text-xl .font-semibold,
.codex-editor .text-xl .font-medium {
	font-weight: 650;
}
.codex-editor .text-2xl .font-bold,
.codex-editor .text-2xl .font-semibold,
.codex-editor .text-2xl .font-medium {
	font-weight: 650;
}
.codex-editor .text-3xl .font-bold,
.codex-editor .text-3xl .font-semibold,
.codex-editor .text-3xl .font-medium {
	font-weight: 650;
}
.codex-editor .text-4xl .font-bold,
.codex-editor .text-4xl .font-semibold,
.codex-editor .text-4xl .font-medium {
	font-weight: 650;
}
.codex-editor .text-5xl .font-bold,
.codex-editor .text-5xl .font-semibold,
.codex-editor .text-5xl .font-medium {
	font-weight: 650;
}
.codex-editor .text-6xl .font-bold,
.codex-editor .text-6xl .font-semibold,
.codex-editor .text-6xl .font-medium {
	font-weight: 650;
}

.codex-editor .emoji {
	vertical-align: -10%;
	font-size: 120%;
	line-height: 1;
}
.codex-editor .emojis {
	font-size: 166.6667%; /* Resolves to 200% */
}

/* --md-blue-a200: #448aff; */
/* --md-blue-a400: #2979ff; */
/* .codex-editor:not(.feature-read-only) [data-codex-node] > span, */
/* .codex-editor:not(.feature-read-only) [data-codex-root] > span { */
/* 	background-color: #448aff0f; */
/* } */

/* .codex-editor.feature-read-only ul > li:not(.checked):before { */
/* 	margin-right: 0.5em; */
/* 	flex-shrink: 0; */
/* 	display: inline-flex; */
/* 	width: calc(11.55 / 16 * 1em); */
/* 	content: "•"; */
/* 	color: var(--md-blue-a400); */
/* } */
/*  */
/* .codex-editor.feature-read-only ul > li:first-of-type, */
/* .codex-editor.feature-read-only ol > li:first-of-type { */
/* 	counter-reset: count; */
/* } */
/* .codex-editor.feature-read-only ol > li:before { */
/* 	margin-right: 0.5em; */
/* 	flex-shrink: 0; */
/* 	display: inline-flex; */
/* 	counter-increment: count; */
/* 	content: counter(count) ". "; */
/* 	font-feature-settings: "tnum"; */
/* 	color: var(--md-blue-a400); */
/* } */
