.codex-editor h1 strong,
.codex-editor h2 strong,
.codex-editor h3 strong,
.codex-editor h4 strong,
.codex-editor h5 strong,
.codex-editor h6 strong {
	font-weight: 700;
}

.codex-editor [aria-label][role="img"] {
	vertical-align: -10%;
	font-size: 120%;
	line-height: 1;
}

/* https://stackoverflow.com/a/12198561 */
.codex-editor p [aria-label][role="img"]:first-child:nth-last-child(1),
.codex-editor p [aria-label][role="img"]:first-child:nth-last-child(2),
.codex-editor p [aria-label][role="img"]:first-child:nth-last-child(2) ~ [aria-label][role="img"],
.codex-editor p [aria-label][role="img"]:first-child:nth-last-child(3),
.codex-editor p [aria-label][role="img"]:first-child:nth-last-child(3) ~ [aria-label][role="img"] {
	font-size: 2em;
}

.codex-editor [data-codex-ordered="false"]:before {
	margin-left: -1.5em;
	position: absolute;
	content: "• ";
	color: var(--md-blue-a400);
}

.codex-editor [data-codex-ordered="true"]:first-of-type {
	counter-reset: count;
}
.codex-editor [data-codex-ordered="true"]:before {
	margin-left: -1.5em;
	position: absolute;
	content: counter(count) ". ";
	counter-increment: count;
	font-feature-settings: "tnum";
	color: var(--md-blue-a400);
}

.codex-editor [data-codex-checked] input[type="checkbox"] {
	margin-left: -1.75em;
}

/* .codex-editor pre > code > div:nth-of-type(2) { */
.codex-editor pre > code > div:nth-of-type(2) {
	counter-reset: count;
}
/* https://stackoverflow.com/a/15604013 */
.codex-editor pre > code > div:before {
	margin-right: 1.5em;
	display: inline-block;
	/* width: var(--width); */
	width: 2ch;
	text-align: right;
	font-size: 0.875em;
	content: counter(count);
	counter-increment: count;
	color: var(--gray-400);
}
.codex-editor pre > code > div:first-child:before,
.codex-editor pre > code > div:last-child:before {
	content: " ";
}

/* .codex-editor pre > code > div:first-of-type { */
/* 	counter-reset: count; */
/* } */
/* .codex-editor pre > code > div:before { */
/* 	margin-left: -1em; */
/* 	position: absolute; */
/* 	content: counter(count) ". "; */
/* 	counter-increment: count; */
/* 	font-feature-settings: "tnum"; */
/* 	color: var(--gray-400); */
/* } */
