.codex-editor h1 strong,
.codex-editor h2 strong,
.codex-editor h3 strong,
.codex-editor h4 strong,
.codex-editor h5 strong,
.codex-editor h6 strong {
	font-weight: 700;
}

.codex-editor [aria-label][role="img"] {
	vertical-align: -18.75%;
	font-size: 137.5%;
	line-height: 1;
}

.codex-editor p.emojis--1 [aria-label][role="img"],
.codex-editor p.emojis--2 [aria-label][role="img"],
.codex-editor p.emojis--3 [aria-label][role="img"] {
	font-size: 2em;
}

.codex-editor [data-codex-ordered="false"]:before {
	margin-left: -1.5em;
	position: absolute;
	content: "• ";
	color: var(--blue-500);
}

.codex-editor [data-codex-ordered="true"]:first-of-type {
	counter-reset: count;
}
.codex-editor [data-codex-ordered="true"]:before {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;

	margin-left: calc(-0.25em - var(--max-monospace-width));
	position: absolute;
	width: var(--max-monospace-width);
	text-align: right;
	content: counter(count) ". ";
	counter-increment: count;
	font-feature-settings: "tnum";
	color: var(--blue-500);
}

.codex-editor [data-codex-checked] input[type="checkbox"] {
	margin-left: -1.75em;
}

.codex-editor pre > code > div:nth-of-type(2) {
	counter-reset: count;
}
.codex-editor pre > code > div:before {
	/* NOTE: Use *.01 to preserve tabs */
	margin-right: 2.01ch;
	display: inline-block;
	width: var(--max-monospace-width);
	text-align: right;
	font-weight: 500;
	font-size: 0.875em;
	content: counter(count);
	counter-increment: count;
	color: var(--cool-gray-300);
}
.codex-editor pre > code > div:first-child:before,
.codex-editor pre > code > div:last-child:before {
	content: "";
}
